<div class = "hero-unit">
	<h1>About Me</h1>
	<br>
	<p> Hello, My name is Amul and I am a programming noob! I am currently taking Mattan Griffel's One Month Rails course - this application is the project I am working on. 
	<br><br>
	Outside of One Month Rails, I am a PM at Zynga and live in San Francisco. I LOVE tech and gaming.
	<br><br>
	E-mail me: <a href="mailto:amularya@gmail.com?Subject=HOLLER">here</a>
	<p>
</div>