<div class = "hero-unit">
<h1>This is One Month Rails!</h1>
<p>
	You found the homepage for the
	<%= link_to "One Month Rails", "http://onemonthrails.com"%>
	application. Aw snap!
</p>
<p>
	<%= link_to "Sign up Now!", "#", class: "btn btn-primary btn-large" %>
</p>
</div>
