/*You can change the font using something like the below
$baseFontFamily: Fauna One;
@import url(http://fonts.googleapis.com/css?family=Fauna+One);*/

$btnPrimaryBackground: #46a546;
$navbarBackgroundHighlight: white;
$navbarBackground: white;

@import 'bootstrap';

body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';

/*.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}*/

/* Requierd for JQuery Masonry */

.box {
	margin: 5px;
	padding: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 214px;
}

.box img {
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.footer {
	margin-top: 50px;
	color: $grayLight;
	a {
		color: $gray;
	}
}

.description {
	margin: 5px 0 5px;
}